In [6]:
myList = [1,2,2,3,2,4,5,3,5,6]
print(x)

{1, 2, 3, 4, 5, 6}

In [7]:
myList_uniques = set(myList)
print(x)

{1, 2, 3, 4, 5, 6}

In [8]:
len(myList) == len(myList_uniques)

False

In [5]:
text = 'This is a Text'
text.split(' ')

['This', 'is', 'a', 'Text']

In [10]:
myList = ['Kirk', 'Spock', 'McCoy', 'Scott', 'Uhura', 'Chekov', 'Sulu']
myList[:1]

['Kirk']

In [37]:
myList[2:5]

['McCoy', 'Scott', 'Uhura']

In [35]:
myList[-1:]

['Sulu']

In [15]:
myList[0:7:2]

['Kirk', 'McCoy', 'Uhura', 'Sulu']

In [16]:
myList[:7:2]

['Kirk', 'McCoy', 'Uhura', 'Sulu']

In [14]:
myList[::2]

['Kirk', 'McCoy', 'Uhura', 'Sulu']

In [38]:
myList[::-1]

['Sulu', 'Chekov', 'Uhura', 'Scott', 'McCoy', 'Spock', 'Kirk']

In [41]:
print('-'*100)

----------------------------------------------------------------------------------------------------

In [45]:
for counter, item in enumerate(myList):
    print(counter ,' - ',item)

0  -  Kirk
1  -  Spock
2  -  McCoy
3  -  Scott
4  -  Uhura
5  -  Chekov
6  -  Sulu

In [46]:
var1 = 50
var2 = 10
div = var1/var2

print('The division of %r by %r is %r' % (var1, var2, div))

The division of 50 by 10 is 5.0

In [47]:
print(f'The division of {var1} by {var2} is {div}')

The division of 50 by 10 is 5.0

In [73]:
%%timeit 
import time

for i in range(0,10):
    pass

569 ns ± 2.69 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [78]:
myList = ['abc-cdb', '123-456']
for i in myList:
    print(i, sep='-')

abc-cdb
123-456

In [83]:
print('1','2', '3', sep='-')

1-2-3